__pycache__
flask-env
venv3.~/lib/python3.11/site-packages/pip/_internal/operations/build/metadata_legacy.py
venv3.~/lib/python3.11/site-packages/pip/_internal/resolution/resolvelib/reporter.py
*.py
*.fish
*.csh
*.cfg
*.cfg
*.cfg
*.fish
venv/bin/activate
venv3.~/lib/python3.11/site-packages/setuptools/script.tmpl
*.exe
*.exe
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/RECORD
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/REQUESTED
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/METADATA
venv3.~/lib64
venv/pyvenv.cfg
venv/bin/activate
venv/bin/activate
*.csh
*.cfg
venv/bin/python3
*.csh
*.cfg
venv3.~/bin/activate
venv3.~/bin/Activate.ps1
venv3.~/lib/python3.11/site-packages/setuptools/script (dev).tmpl
venv3.~/lib/python3.11/site-packages/setuptools/command/launcher manifest.xml
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/WHEEL
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/top_level.txt
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/LICENSE
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/INSTALLER
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/entry_points.txt
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/python3
venv/pyvenv.cfg
venv3.~/bin/pip
venv3.~/bin/pip3
venv3.~/bin/pip3.11
venv3.~/bin/python
venv3.~/bin/python3
venv3.~/bin/python3.11
venv3.~/lib/python3.11/site-packages/distutils-precedence.pth
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/entry_points.txt
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/INSTALLER
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/LICENSE.txt
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/METADATA
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/RECORD
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/REQUESTED
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/top_level.txt
venv3.~/lib/python3.11/site-packages/pip-23.0.1.dist-info/WHEEL
venv3.~/lib/python3.11/site-packages/pip/_vendor/certifi/cacert.pem
venv3.~/lib/python3.11/site-packages/pip/_vendor/vendor.txt
venv3.~/lib/python3.11/site-packages/pip/py.typed
venv/bin/activate
venv/bin/activate.csh
venv/bin/activate.fish
venv/bin/python3
venv/pyvenv.cfg
*.cfg
venv/pyvenv.cfg
venv/bin/python3
venv/bin/activate.fish
venv/bin/activate.csh
venv/bin/activate
*.cfg
*.fish
*.csh
venv/pyvenv.cfg
venv/bin/python3
venv/bin/activate.fish
venv/bin/activate.csh
venv/bin/activate
