__pycache__
flask-env
venv3.~/lib/python3.11/site-packages/pip/_internal/operations/build/metadata_legacy.py
venv3.~/lib/python3.11/site-packages/pip/_internal/resolution/resolvelib/reporter.py
*.py
*.fish
*.csh
*.cfg
*.cfg
*.cfg
*.fish
venv/bin/activate
venv3.~/lib/python3.11/site-packages/setuptools/script.tmpl
*.exe
*.exe
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/RECORD
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/REQUESTED
venv3.~/lib/python3.11/site-packages/setuptools-66.1.1.dist-info/METADATA
venv3.~/lib64
venv/pyvenv.cfg
