@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background-color: #111827;
    font-family: 'Roboto', sans-serif;
    color: #A3A8B0;
}

#weather {
    padding: 0px !important;
    height: 100% !important;
}

#applications {
    padding: 0px !important;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.card {
    border: none !important;
    background-color: #1F2937;
    transition: transform 0.2s;
    min-width: 250px;
    min-width: 250px;

    max-height: 250px;
    max-width: 250px;
}

.card img {
    height: auto;
    width: auto;
    min-height: 100px;
    max-height: 100px;  
    max-width: 100px;
    min-width: 100px;
}

#data {
    color: white;
}
.status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.status.running {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: green !important;
}


.status.exited {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    background-color: red !important;
}

.card:hover {
    transform: scale(1.05);
}

.weather-card {
    background-color: #1F2937;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    /* Add margin for spacing */
}

.weather-icon {
    font-size: 4rem;
    color: #007bff;
}

.temperature {
    font-size: 2rem;
    margin-bottom: 10px;
}

.weather-description {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.additional-details {
    font-size: 1rem;
    color: #6c757d;
}