{% macro weather() %}
<div id="weatherData" class="weather-card">
    <i class="wi wi-day-sunny weather-icon"></i>
    <div id="temperature" class="temperature"> Currently : placeholder°F</div>
    <div id="name" class="weather-description">placeholder</div>
    <div id="forecast" class="additional-details">
        placeholder
    </div>
    <div id="name2" class="weather-description">placeholder</div>
    <div id="temperature2">placeholder</div>
    <div id="forecast2" class="additional-details">
        placeholder
    </div>
    <p id="last-updated-weather" class="text-center">Last Updated : Now</p>
</div>
{% endmacro %}
